@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--pink1: #EF73CB;
	--pink2: #DC5F89;
}

* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
}

body {
	align-items: center;
	background-color: transparent;
	    background-image: url("https://static8.depositphotos.com/1106647/888/v/600/depositphotos_8882116-stock-illustration-bird-and-butterflies.jpg");
	
	color: #fff;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	justify-content: center;
	height: 100vh;
	text-align: center;
}

.panel-container {
background-image: linear-gradient(to bottom right, var(--pink1), var(--pink2));	border-radius: 65px;
	box-shadow: 0 5px 10px black;
	padding: 90px;
	margin: 35px;
}

.panel-container h3 {
	margin-bottom: 30px;
	letter-spacing: 0.5px;
}

.panel-container input, .panel-container button {
	border: none;
	border-radius: 3px;
	display: block;
	font-size: 17px;
	padding: 7px 10px;
	margin: 15px 0;
	width: 100%;
}

.panel-container button {
	background-image: linear-gradient(to bottom right, var(--pink1), var(--pink2));
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: #fff;
}

.panel-container small {
	font-size: 0.5em;
	line-height: 10px;
	opacity: 0.5;
}

.panel-container small:first-of-type {
	text-transform: uppercase;
}




